html, body{
    margin: 0;
}

#info-container{
    display: grid;
    grid-template-columns: 100px 50%;
  justify-content: center;
}

div{
    padding:10px;
}

#offer-container{
    background-color: #c8ccc9;
    padding-top: 5px;
 
}

.grid-class{
    display: grid;
    grid-template-rows: 100px 100px 100px;
}

#info-title{
    text-align: center;
}

.shift-down{
    transform: translate(0, 20px);
    color: green;
}

h3{
    transform: translate(0, -5px);
margin-bottom: 0px;    
}

p{
    transform: translate(0,-3px);
margin-top: 0px;
}

#video{
    display: block;
    margin:  auto;
}

#pricing-container{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #c8ccc9;
}

.pricing-cards{
    width:250px;
    height:350px;
    border: 2px solid black;
    margin: 60px;
    text-align: center;
}


