html, body{
    margin: 0;
    scroll-behavior: smooth;

}

#info-container{
    display: grid;
    grid-template-columns: 100px 50%;
  justify-content: center;
}

#nav{
    display: flex;
    background-color: aliceblue;
}

div{
    padding:10px;
}

#nav-bar{
    width: 100vw;
}

ul{
    display: flex;
    justify-content: end;
}

a{
    text-decoration: none;
}

.nav-link{
    list-style-type: none;
padding-right: 30px;
}

#banner-img{
width: 100%;
padding: 0;
}

#offer-container{
    background-color: #c8ccc9;
    padding-top: 5px;
 
}

.grid-class{
    display: grid;
    grid-template-rows: 100px 100px 100px;
}

#info-title{
    text-align: center;
}

.shift-down{
    transform: translate(0, 20px);
    color: green;
}

h3{
    transform: translate(0, -5px);
margin-bottom: 0px;    
}


#header-img{
    width:175px;
    height: 45px;
}




p{
    transform: translate(0,-3px);
margin-top: 0px;
}

#video{
    display: block;
    margin:  auto;
}

#pricing-container{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #c8ccc9;
}

.pricing-cards{
    width:250px;
    height:350px;
    border: 2px solid black;
    margin: 60px;
    text-align: center;
}

#email-container{
  text-align: center;
}

#email-label{
  font-size: 35px;
  
}